<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ePubFixer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ePubFixer.Properties.Settings>
            <setting name="SigilPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseForm" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAnchor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value />
            </setting>
            <setting name="frmPreview" serializeAs="String">
                <value />
            </setting>
            <setting name="Decrypt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmCover" serializeAs="String">
                <value />
            </setting>
            <setting name="KoboFixMargins" serializeAs="String">
                <value>False</value>
            </setting>
        </ePubFixer.Properties.Settings>
    </userSettings>
  <startup>
    <supportedruntime version="v4.0"></supportedruntime>
  </startup>
</configuration>